body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, #2980b9, #6dd5fa);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.weather-container {
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease 0s;
}

.weather-container:hover {
    transform: translateY(-5px);
}

h1 {
    margin-bottom: 20px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 28px;
}

.search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #2980b9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

button:hover {
    background-color: #3498db;
}

.weather-info {
    margin-top: 20px;
    text-align: left;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-info p {
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
}

.weather-info strong {
    font-weight: bold;
}
